:root  {
    --back-blue: #020621
}

body.dark-mode header, body.dark-mode main, body.dark-mode footer, 
body.dark-mode #header-container, body.dark-mode .hamb-menu-banner,
body.dark-mode .main-nav-container, body.dark-mode .main-nav, 
body.dark-mode .main-nav.open  {
    background-color: var(--back-blue);
    color: #e9e9e9;
}
body.dark-mode h4 {
    padding-top: 1em;
    color: #1fc8c3;
}
body.dark-mode p.site-description {
        background-image: none;
        background-color: var(--back-blue);
        color: #BFA181;
        font-weight: bold;
}

body.dark-mode th {
    color:#BFA181;
}

body.dark-mode .main-nav.open {
    background-image: none;
    color: #ede7e0;
}

body.dark-mode .sub-nav-container a, body.dark-mode .hamb-menu-icon, body.dark-mode .sub-nav a {
    color:#ede7e0;
}
body.dark-mode .github a, 
body.dark-mode .about-text a, 
body.dark-mode .about a:visited {
    color: #1fc8c3;

}
body.dark-mode th.cat-heading {
    border-color: #bfa1816d;
}

body.dark-mode .app-layout-imgs {
    background-color: #ffffff09;
}

body.dark-mode li.pr-select.selected {
    border-bottom: 3px solid #BFA181;
    letter-spacing: 2px;
    padding-right: 1em;
    padding-left: 1em;
    color:#BFA181;
}

body.dark-mode .expand-down-arrow {
    border-color: #ede7e0;
}

body.dark-mode svg#docker-icon {
    background-color: #1fc8c3;
}

body.dark-mode svg#linkedin-round-icon path,
body.dark-mode svg#github-icon path,
body.dark-mode svg#black-instagram-icon path {
    fill: #1fc8c3;
}

body.dark-mode .sub-nav-container:nth-child(2) .sub-nav a {
    color: #ede7e0b7;
}
@media (min-width: 1400px){

    body.dark-mode .sub-nav  {
        background-color: #000318e4;
        color:#ede7e0;
    }
    body.dark-mode .pr-nav-container {
        border-bottom: 1px solid #ffffff7e;
    }
    
    body.dark-mode .sub-nav-container.active a.link {
        background-color: #000318e4;
    }
    body.dark-mode .sub-nav-container.active .sub-nav {
        border-top: 2px solid #BFA181;
    }
    body.dark-mode a.link {
        color:#e7d8c9;
    }
    body.dark-mode .sub-nav a:hover {
        border-bottom: 2px solid #BFA181;
    } 
}