:root  {
    --back-blue: #020621
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSansL/OpenSans-Light.woff"),
         url("../fonts/OpenSansL/OpenSans-Light.woff2");
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body.dark-mode  {
    font-family: 'Open Sans', 'Open Sans Light', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
}

body.dark-mode .main-container, body.dark-mode main, body.dark-mode footer, 
body.dark-mode .hamb-menu-banner, body.dark-mode .site-description > span, body.dark-mode .main-projects,
body.dark-mode .main-nav, body.dark-mode .main-nav.open, 
body.dark-mode .pr-nav-container  {
    background-color: var(--back-blue);
    color: #e9e9e9;
}



body.dark-mode .github a, 
body.dark-mode .about-text a, 
body.dark-mode .about a:visited {
    color: #1fc8c3;
}

body.dark-mode #header-container {
    background-color:#02062198;
}
body.dark-mode .main-heading span {
    color: #ede7e0;
    background-color: var(--back-blue);
}

body.dark-mode .main-heading {
    background: linear-gradient(var(--back-blue) 0%, var(--back-blue) 50%, #BFA181 48%, #BFA181 52%, var(--back-blue) 54%, var(--back-blue) 100%);
}

body.dark-mode h4 {
    color: #1fc8c3;
}



body.dark-mode .site-description {
        background-image: none;
        background-color: var(--back-blue);
        color: #BFA181;
}
body.dark-mode .site-description span + span,
body.dark-mode .tech h4{
    color: #E9E9E9
}
body.dark-mode .select-btn,
body.dark-mode .select-content{
    background-color: #E9E9E9
}
body.dark-mode .main-nav.open {
    background-image: none;
    color: #ede7e0;
}

body.dark-mode .sub-nav-container a, body.dark-mode .hamb-menu,
body.dark-mode .hamb-menu-icon, body.dark-mode .sub-nav a {
    color:#ede7e0;
}

body.dark-mode .sub-nav-container:nth-child(2) .sub-nav a {
    color: #ede7e0b7;
}

body.dark-mode .expand-down-arrow {
    border-color: #ede7e0;
}

body.dark-mode .one-line-intro,
body.dark-mode .site-description > span  {
    color: #BFA181;
}

body.dark-mode th {
    background-color: var(--back-blue);
    color:#BFA181;
}

body.dark-mode th.cat-heading {
    border-color: #bfa1816d;
}

body.dark-mode .app-layout-imgs {
    background-color: #ffffff09;
}

body.dark-mode svg#docker-icon {
    background-color: #276d6b;
}

body.dark-mode svg#linkedin-round-icon path,
body.dark-mode svg#github-icon path,
body.dark-mode svg#insta-icon path {
    fill: #178582;
}

body.dark-mode .app-category,
.tech h4 {
    background-color: #ffffff09;
}

/* from here will be removed once ml projects are added */
body.dark-mode  .app-category:first-of-type > a {
    border: 0px;
    box-shadow: none;
}


@-moz-document url-prefix() {
    body.dark-mode .app-category > a h3 {font-size: 1.1rem;}
}

body.dark-mode .app-category svg {
    color:#1fc8c3;
}

body.dark-mode .app-category:first-of-type > a:hover,
body.dark-mode .app-category:first-of-type > a:focus,
body.dark-mode .app-category:first-of-type > a:hover svg,
body.dark-mode .app-category:first-of-type > a:focus svg{
    color: #178e8a;
    box-shadow: none; 
}

body.dark-mode .app-category:first-of-type svg,
body.dark-mode .app-category:first-of-type h3 {
    color: #178e8a;
} 
body.dark-mode .pr-nav-container {
    border-bottom: 1px solid #bfa18156;
}

body.dark-mode hr {
    border: 1px solid #178582;
    display: none;
}

body.dark-mode .note-of-importance strong,
body.dark-mode .pr-desc h3,
body.dark-mode .pr-heading {
    color: #d8b691;
}
body.dark-mode .note-of-importance {
    border-top: 2px solid #BFA181;
}

body.dark-mode .site-description .cv-download {

    border: 1px solid #178582;
    background-color: #178582;
    box-shadow: 0 4px 8px 0 #02062133, 0 6px 20px 0 #02062130;
    color: #e9e9e9;
    
}

@media (max-width: 900px) {

    body.dark-mode .main-nav {
        background-image: linear-gradient(to bottom, #020621, #030725, #03082a, #03092e, #030a32);

    }
    body.dark-mode .main-nav a.link {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(0.47turn, #BFA181, #423528);
        border-image-slice: 1;

    }

    body.dark-mode, body.dark-mode header,
    body.dark-mode #header-container {
        background-color: var(--back-blue);
    }
}


@media (min-width: 901px) {
    body.dark-mode .sub-nav-container > a.link {
        background-color: var(--back-blue);
    }
    body.dark-mode .category-title span{
        color: #e9e9e9;
    }
    body.dark-mode .sub-nav  {
        background-color: #000318e4;
        color:#ede7e0;
    }

    body.dark-mode .sub-nav-container.active a.link {
        background-color: #000318e4;
    }
    body.dark-mode .sub-nav-container.active .sub-nav {
        border-top: 2px solid #BFA181;
    }
    
    body.dark-mode a.link,
    body.dark-mode .one-line-intro {
        color:#e7d8c9;
    }
    body.dark-mode .sub-nav a:hover {
        border-bottom: 2px solid #BFA181;
    } 

    body.dark-mode .expand:focus hr {
        border: 1px solid #BFA181;
    }

}
