/*
.app-category > a { 
     remove heighlighting when tapping on a link from mobile phones
    outline:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; For some Androids

}*/
:root {
    --dark-blue: rgba(6, 14, 25);
    --blue-green: rgb(132, 220, 198);
    --bg-gray: lightgray;
    --black: black;
    --off-white: #f5f5f5;
    --white: white;
}
@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSansReg/OpenSans-Regular.woff"),
         url("../fonts/OpenSansReg/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand/quicksand-variablefont_wght-webfont.woff2"),
         url("../fonts/Quicksand/quicksand-variablefont_wght-webfont.woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cabinet Grotesk Variable";
    src: url('../fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff2') format('woff2'),
        url('../fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff') format('woff'),
        url('../fonts/CabinetGrotesk/CabinetGrotesk-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
* {
    padding:0;
    margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* some general settings */
html, body {
    font-size: calc(16px + 0.390625vw); /* normal 15px */
    height:100%;
    background-color: var(--white);
    font-family: 'Open Sans', 'Open Sans Regular', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
}

@-moz-document url-prefix() {
    html, body {font-size: calc(14px + 0.390625vw);}
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    position: relative;
}

main {
    grid-area: main;
    background-color: #f7f4f3;
    font-family: 'Cabinet Grotesk Variable', 'Open Sans Regular', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
    font-size: 1.25rem;
}

.main-container {
    width:100%;
    margin:0 auto;
    box-sizing:content-box;
}


ul li{
    list-style-type: none;
}

a {
    text-decoration:none;
}

a:link, a:visited, a:active {
    color: inherit;
}

button {
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
}


/* ############# GENERAL ###############*/

header{
    grid-area: header;
    background-color: #f5f5f5;
    /*min-height: 100vh; /* full window viewpoint */
}

#header-container {
    display: grid;
    grid-template-areas: 
        "nav" 
        "heading";
    width: 100%;
    background-color: #1f36e6;
} 

.sub-nav-container:nth-child(2) .sub-nav a{ 
    color: #171717;
}

.hamb-menu-banner{
    display:none;
}

.expand-down-arrow {
    display:none;
}

.site-description span + span {
    /*margin-top: 0.8rem;*/
    margin-bottom: 1rem;
    line-height: 1.3;
    font-size: 1.6rem;
}

.site-description {
    /*min-height:40vh;*/
    min-height: 100vh;
    box-sizing: border-box;
    /*margin-top: 2rem;
    padding: 6vh 6vw 6vh 0;*/
    padding: 0vh 6vw 6vh 6vw;

/*background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff);*/
    font-family: 'Quicksand', sans-serif;
    color: #171717;
    font-size: 2rem;
    letter-spacing: 5px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    color:white;
    background: #1c83bf;
    background: linear-gradient(0deg, #1c83bf 0%, #1f36e6 100%);
}

.site-description span {
    letter-spacing: 0;
    display: block;
    box-sizing: border-box;
    /*padding-left: 2rem;
    margin: auto 2%;*/
}

.site-description span:first-of-type {
    font-size: 2.5rem;
}

.site-description .cv-download {
    font-family: 'Open Sans', 'Open Sans Regular', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
    display: inline-block;
    border: 1px solid #2c9cdd;
    background-color: #2c9cdd;
    box-shadow: 0 4px 8px 0 #1f36e633, 0 6px 20px 0 #1f36e630;
    
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.8rem;
    color: #ffffff;
    
}

.select-wrapper {
    position:relative;
    display: inline-block;
    font-family: 'Open Sans', 'Open Sans Regular', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
    color: #000000;
    /*max-width: 300px;*/
    flex:1
}

.select-btn, .select-options li {
    letter-spacing: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 1.1rem

}

.select-btn {
    padding: 15px 20px;
    border-radius: 7px;

    background: #ffffff;
    justify-content: space-between;
  
}

.select-btn > span:first-of-type {
    box-sizing: border-box;
    font-size: 1.1rem;
    padding-right: 1rem;
}

.select-btn svg {
    width: 0.8rem;
    color:#8d8c8c;
    transition: transform 0.3s linear;
}

.select-wrapper.active svg {
    transform: rotate(-180deg);
}

.select-content {
    box-sizing: border-box;

    padding: 0 10px;
    margin-top: 15px;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 #e1e1e133, 0 3px 10px 0 #e7e7e730;

    
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .3s ease-out;
}

.select-wrapper.active .select-content {
    box-sizing: border-box;
    display: block;
    width: inherit;
    
    max-height: 100vh;
    transition: max-height .5s ease-in;

}

.select-content .select-options {
    margin-top: 10px;
    max-height: 150px;
    padding-bottom: 3px;
    overflow-y: auto;
}

.select-options::-webkit-scrollbar {
    width: 5px;
}

.select-options::-webkit-scrollbar-track {
    background: #cfcfcf;
    border-radius: 25px;
}

.select-options::-webkit-scrollbar-thumb {
    background: #adadad;
    border-radius: 25px;
}

.select-options li {
    padding: 12px 13px;
    border-radius: 5px;
}

.select-options li:hover {
    background: #cfcfcf;
}


.main-container {
    width: 100%;
}

section.categories-container {
    align-items: start;
}

.app-category {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #f7f4f3;
    min-height: max-content;
    overflow-x: hidden;

}

.app-category-description {
    max-height: 100%;
    margin-bottom: 5%;
    margin-top: 2rem;
    box-sizing: border-box;
}

.technologies {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 2rem;
}

.tech {
    text-align: justify;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    column-gap: 7px;
    padding:5px;
    border-radius: 4px;
}
.tech svg {
    width: 20px;
    color: #e71d36;

}

.tech h4 {
    padding: 5px;
    border-left: 2px solid #e71d36;
    background-color: white;
    font-size:inherit;
    font-weight: normal;
}


.category-title {   
    font-size: 2.8rem;
    position:relative;
    box-sizing: border-box;
}


.reveal{
    box-sizing: border-box;
    position: absolute;
    right:150;
    transform: translateX(-150px);
    opacity: 0;
    transition: 2s all ease;

  }
  
  .reveal.active{
    position: absolute;
    left:150;
    transform: translateX(0px);
    opacity: 1;
}

/* IF MACHINE LEARNING VISIBLE change the children for the following three rules to 2,4*/
.app-category:nth-child(1),
.app-category:nth-child(3) {
    justify-items: end;
    text-align: justify;
}

.app-category:nth-child(1) .reveal,
.app-category:nth-child(3) .reveal{
    transform: translateX(0%);
}
/* the greater the more to the left the item gets with -100% being at the end of the container*/
.app-category:nth-child(1) .reveal.active,
.app-category:nth-child(3)  .reveal.active{
    transform: translateX(-150%);
}


.app-category svg {
    width: 3rem;
}

footer {
    grid-area:footer;
    padding:2.5em 2em 1em 2em;
    width:auto;
    font-size: 1rem;
    background-color: #e5e5e5;
}

.social {
    grid-area: social;
    display:flex;
    justify-content: flex-end;
    column-gap: 1em;
}

footer svg {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50px;
    background-color: var(--black);
}

svg#email-icon {
    color:white;
}

.copyright {
    grid-area: copyright;
    font-size: 0.6rem;
    text-align:center;
}

.toggle-button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 1000;
    column-gap: 0.5rem;

}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid #ffffffe7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.toggle-icon {
    color: #ffffffe7;

}

.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    pointer-events: none;
    background-color: #ffffffe7;
    transition: .3s;
}

.toggle.active {
    border-color: #ede7e0;
}

.toggle.active + .toggle-icon {
    color: #ede7e0;
}

.toggle.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: #ede7e0;
}

.toggle.active .toggle-icon {
    color: #ede7e0;
}

.toggle-icon svg {
    width: 25px;
    height: 35px;
}

@media screen and (max-width: 900px) {
    body {
        display: grid;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        position: relative;
    }
    

    main {
        grid-area: main;
        padding:2rem;
    }

    .toggle-button-container {
        padding:0.8rem 1.3rem;
        left: 0;
    }

    #header-container {
        position:fixed;
        z-index: 98;
    }
    
    .hamb-menu-banner {
        display:block;
        box-sizing: border-box;
        height: calc(30px + 2rem);
        background-color: var(--black);
        position: relative;
        /*background-color: #e5e5e5;*/
        background-color: #1f36e6;
        z-index: 200; 
    }
    
    .hamb-menu-banner.open {
        background-color: var(--black);
        background-color: white; 
    }

    .hamb-menu {
        position: absolute;
        right: 0;
    }

    .hamb-menu-icon {
        pointer-events: none;
        height:30px;
        width: 30px;
        margin:0.9rem 1.3rem;
        color: #ffffffe7 /*#1f1f1f*/;
    }

    .hamb-menu-banner.open .hamb-menu-icon {
        margin:0.9rem 1.3rem;
        color: #001686;
    }

    .main-nav-container {
        position:relative;
    }

    .main-nav {
        position: absolute;
        width:100%;
        height: calc(100vh - (30px + 2rem));
        top: -100vh;
        z-index: 100;
        padding: 20px 0px;
        background: #1f36e6;
        /*background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff);*/
        overflow:hidden;
        transition: top .5s ease-in-out;
    }
    
    .main-nav.open {
        position:absolute;
        top:0; 
        overflow-y: auto;
        transition: top .5s ease-in-out;
        padding-top:0;
        background: #ffffff;
    }

    .main-nav.open a {
        color:black;
        font-family: 'Quicksand', sans-serif;
    }

    .main-nav a {
        color: #1f36e6;
    }

    .sub-nav-container {
        position: relative;
        margin: 0;
        padding: 0.7rem 0 0 0;
        border-bottom: 1px solid #0000002a;
    }

    .sub-nav-container:first-child {
        box-sizing: border-box;
        margin-top: 1rem;
        border-top: 1px solid #0000002a;
        padding-bottom: 0.7rem;
    }

    .sub-nav-container:nth-child(2) .sub-nav a {
        /*color: #17171777;*/
        color: #000000;
    }

    .sub-nav-container:last-child {
        box-sizing: border-box;
        padding-bottom:0px;
    } 
    

    .main-nav a.link {
        display: inline-block;
        box-sizing: border-box;
        /*color: #171717;*/
        color: #1f36e6;

        text-align: start;
        padding-bottom: 0;
        margin: 1rem;
        width: calc(100% - 3.5rem);
        border-bottom: 1px solid transparent;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding-left: 0.7rem;
        font-size: 1.17rem;

        pointer-events: none;
    }
    
    .main-nav.open a.link {
        color:#000000; 
    }

    .main-nav li:first-child a  {
        pointer-events: auto;
    }

    .expand-down-arrow {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        z-index:101;
        margin: 1.3rem 2.5rem 2.5em 2.5rem;
        padding: 4px;
        border: solid #ffffffd7;
        /*border: solid #171717;*/
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border-color: #000000;
    }

    .sub-nav {
        overflow: hidden;
        max-height: 0;
        line-height: 3;
        margin-top: 0.7rem;
        padding: 0 2rem 0 2.5rem;
        font-size: 1.1rem;
        color: transparent;
        transition: max-height .2s ease-in-out;
    }

    .sub-nav.open {
        max-height: 100vh;
        color: black;
        background-color:#ffffff0e;
        transition: max-height .3s ease-in-out;
    }
    
    .toggle {
        border: 2px solid #ffffffe7;
    }
    .toggle-button-container.open .toggle {
        border-color:#000000;
    }

    .toggle-icon {
        color: #ffffffe7;
    }
    .toggle-button-container.open .toggle-icon svg {
        color:#000000;
    }

    .circle {
        background-color: #ffffffe7;
    }
    .toggle-button-container.open .circle {
        background-color: #000000;
    }

    .site-description {

            padding-top: 31vh;
            row-gap:3vh;

    }
    
    .one-line-intro {
        display:none
    } 


    .main-container {
        padding:0;
        width: 100%;
    }

    .page-introduction {
        display:block;
        margin-bottom: 4rem;
        font-size: 1.1rem;
    }

    .main-heading  {
        display: none;
    }

    .app-category{
        min-height: max-content;
        display: grid;
        grid-template-areas:
            "cat-title"
            "cat-desc"
            ".";
        grid-template-rows: 5rem 1fr 5rem;
        align-items: start;

    }
    
    .category-title {
        grid-area: cat-title;
        box-sizing: border-box;

    }
    /* IF MACHINE LEARNING VISIBLE change children to 2,4 and % to 150 and delete width attribute*/
    /* the greater the more to the left the item gets with -100% being at the end of the container*/
    .app-category:nth-child(1) .reveal.active,
    .app-category:nth-child(3)  .reveal.active{
        width: max-content;
        transform: translateX(-100%);
    }

    .app-category-description {
        grid-area: cat-desc;
    }

    .app-category svg {
        width: 1.7rem;
    }

    .tech {
        align-items: center;
    }

    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
            "social" 
            "copyright" ;
        grid-template-rows: 3fr 1fr;
        row-gap: 7px;
        height: 15vh;
        align-items: end;
        justify-items: center;
    }

    footer .about{
        display:none;
    }

    footer svg {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50px;
    }

    .copyright {
        font-size: 0.8rem;
        margin-top: 1rem;
    }


    .app-category {
        max-width: 100%;
    }

    .categories-container {
        width: 100%;
        justify-items: center;
    }

}

@media screen and (max-width:550px) {

    main {
        padding: 2rem 1.2rem;
    }

    .app-category {
        grid-template-rows: 5rem 1fr 3rem;

    }
    .category-title {
        font-size: 2.4rem;
        padding-top:2rem;
    }
}



@media (min-width: 901px) {

    body {
        background-color: var(--white);
    }

    
    .toggle-button-container {
        top:0;
        right: 1.3rem;
        height: 3.5rem;
    }
    
    .main-nav {
        display: flex;
        box-sizing: border-box;
        color:#ffffffd7;
        height: 3rem;
        font-size: 1rem;
    }

    .sub-nav-container {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        min-width: 6rem;
    }

    .sub-nav-container > a.link {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        line-height: 3rem; /* to vertically align text to the middle */
        vertical-align: middle;
        text-align: center;
        background-color: #1f36e6;
    }

    .sub-nav-container:first-of-type > a.link:hover {
        border-bottom: 2px solid #ffffffd7;
    }

    .sub-nav-container:nth-child(2) a.link {
        padding: 0 1em;
    }

    .sub-nav-container:nth-child(2) .sub-nav a {
        font-size:0.9rem;
        color:#ffffff77
    }

    .sub-nav {
        position:absolute;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        box-sizing: border-box;
        padding: 1rem;                
        font-size: 0.95rem;        
        background-color: #1f34d5e5;
        inline-size: max-content;
        pointer-events: none; /*not be clickable when not visible*/
        opacity: 0;        
        border-top: 2px solid #ffffffd7;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }

    .sub-nav-container.active > a {
        background-color: #1f34d5e5;
    }
    
    .sub-nav-container.active > a.link + .sub-nav {
        opacity:1;
        pointer-events:auto; /*be clickable when visible*/
    }

    .sub-nav a:hover {
        border-bottom: 2px solid #ffffffd7;
    }
    .site-description {
        padding-top: 31vh;
    }

    main {
        display: grid;
        grid-template-areas: "side-left main side-right";
        grid-template-columns: 1fr 15fr 1fr;
        padding-top: 60px;
        background-color: #f7f4f3;

    }

    .main-container {
        margin-top: 0;
        grid-area: main;
        width: 100%;
    }

    .main-container::before {
        grid-area: side-left;
    }
    .main-container::after {
        grid-area: side-right;
    }

    .page-introduction {
        display:none;
    }

    .main-container > section {
        min-height: 100vh;
    }

    .app-category {
        min-height:100vh;
        display: grid;
        grid-template-areas: "cat-title cat-title"
            ". cat-desc"
            ". .";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 9rem 1fr 3rem;
        align-items: start;
        align-content: space-evenly;
    }
    
    /* IF MACHINE LEARNING VISIBLE change children to 2,4 and remove from the .category-title span rule remove the width property*/
    .app-category:nth-child(1),
    .app-category:nth-child(3) {
        grid-template-areas: "cat-title cat-title"
        "cat-desc ."
        ". .";
        grid-template-columns: 3fr 1fr;
        justify-items: end;
    }

    /* IF MACHINE LEARNING VISIBLE delete this rule */
    .app-category:nth-child(3)  .reveal.active{
    transform: translateX(-100%);
    }
    
/*
    .app-category:nth-child(2) .reveal,
    .app-category:nth-child(4){
        right: 0;
        transform: translateX(0%);
    }
      
    .app-category:nth-child(2) .reveal.active,
    .app-category:nth-child(4)  .reveal.active{
        left: 20%;
        transform: translateX(40%);
    }

*/
    .category-title {
        grid-area: cat-title;
        font-size: 4.5rem;
        color: #333;
        letter-spacing: -1px;
        font-weight: 700;
    }
    .category-title span {
        margin-top: 2rem;
        width:max-content;
    }
    .app-category-description {
        grid-area: cat-desc; 
    }

    .technologies {
        grid-area: technologies;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
    }

    .tech {
        text-align: justify;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        column-gap: 7px;
        padding: 5px;
        border-radius: 4px;

    }
    .tech svg {
        width: 35px;
        color: #e71d36;
    }

    .tech h4 {
        padding: 7px;
        border-left: 3px solid #e71d36;
        background-color: white;
    }
    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
            "about social" 
            "copyright copyright" ;
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
        align-items: end;
        padding:2rem 4rem 1rem 4rem;
        width:auto;
        font-size: 0.8rem;
        background-color: #e5e5e5;
    }

    footer h3 {
        font-size: 1.5em;
        font-weight: 200;
        padding-bottom: 0.5em;
    }

    .about {
        grid-area: about;
    }

    .about a {
        text-decoration: underline;
    }
    .about a:visited {
        color: #0870d8;
    }

}

@media screen and (min-width: 901px) and (max-width: 1399px) {

    footer {
        grid-template-columns: 2fr 1fr;
    }

    div.main-projects {
        padding: 6% 8%; 
    }
}


@media screen and (min-width: 901px) and (max-width: 1900px) and (min-height: 940px) {
   .app-category{
        min-height: 70vh;
        grid-template-rows: 7rem 1fr 3rem;
   }
   
}

@media screen and (min-width: 1800px) {
    
    main {
        grid-template-columns: 1fr 1600px 1fr;
    }

    main::before {
        grid-area: side-left;
    }
    
    main::after {
        grid-area: side-right;
    }
}
@media screen and (min-width: 2300px) {
    
    main {
        grid-template-columns: 1fr 1800px 1fr;
    }


}