
:root {
    --dark-blue: rgba(6, 14, 25);
    --blue-green: rgb(132, 220, 198);
    --bg-gray: lightgray;
    --black: black;
    --off-white: #f5f5f5;
    --white: white;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand/quicksand-variablefont_wght-webfont.woff2"),
         url("../fonts/Quicksand/quicksand-variablefont_wght-webfont.woff");
    font-weight: 300;
    font-style: normal;
}

* {
    padding:0;
    margin:0;
}

/* some general settings */
html, body {
    font-size: calc(16px + 0.390625vw); /* normal 15px */
    height:100%;
    background-color: var(--white);
    font-family: 'Open Sans', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    position: relative;
}

main {
    grid-area: main;
}
.main-container {
    width:100%;
    margin:0 auto;
    box-sizing:content-box;
    background-color: var(--white);
}

header, footer {
    font-family: "Verdana", "Helverica", "Glober", "Cambria";
}

ul li{
    list-style-type: none;
}

a {
    text-decoration:none;
}

a:link, a:visited, a:active {
    color: inherit;
}

button {
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
}


/* ############# GENERAL ###############*/

header{
    grid-area: header;
    background-color: #f5f5f5;
    /*min-height: 100vh; /* full window viewpoint */
}


.sub-nav-container:nth-child(2) .sub-nav a{ 
    color: #171717;
}


.hamb-menu-banner{
    display:none;
}

.expand-down-arrow {
    display:none;
}

.main-container {
    width: 100%;
}
.one-line-intro {
    grid-area:heading;
    padding-left: 9rem;
    color: #171717;
    font-family: verdana, sans-serif;
    line-height: 1.5;
    font-size: 1.3rem;
    word-spacing: 0.3vw;
    letter-spacing: 0.05vw;
}

.app-category:first-of-type {
    grid-area: c1;
}
.app-category:nth-of-type(2) {
    grid-area: c2;
}
.app-category:nth-of-type(3) {
    grid-area:c3;
}
.app-category:last-of-type {
    grid-area: c4;
}
/*
.app-category-container {
    flex: 1 1 0;
    box-sizing: border-box;
    min-height: 0;
    overflow-y: hidden;
}
*/
.app-category > a { 
    display: inline-block; 
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    margin-bottom: 6%;
    border-radius: 6px;
    border:  2px solid #000000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21), 0 2px 8px 0 rgba(0, 0, 0, 0.187); 
    text-align: center;   
}

.app-category > a:hover, .app-category > a:focus{
    box-shadow: 0 1px 2px 0 #051937, 0 1px 5px 0 #051937; 
}
/* from here will be removed once ml projects are added */
.app-category:first-of-type > a {
    border:  0px;
}

.app-category:first-of-type > a:hover,
.app-category:first-of-type > a:focus{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21), 0 2px 8px 0 rgba(0, 0, 0, 0.187); 
}
/* up to here will be removed once ml projects are added */

.app-category > a h3 {
    font-size:1.3rem;
    font-weight: bolder;
    margin-top: 1em;
}

.app-category > a svg {
    height: 5rem;
    font-size: 1.5rem;
}

.more-btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
    box-sizing: border-box;
    text-align: center;
    
}

.more-btn > svg {
    height: 1rem;
    pointer-events: none; /* for button events not be canceled by the svg */
}

.more-btn.open > svg.more-info {
    display: none;
}

.more-btn.open > svg.less-info {
    display: inline-block;
}

.more-btn > svg.less-info {
    display: none;
}


.app-category-description {
    max-height: 0;
    overflow-y: hidden;
    font-size: 1.1rem;
    position: relative;
    margin-bottom: 5%;
    transition: max-height .5s ease-out;

}

.note-of-importance {
    margin-top: 6rem;
    padding: 2rem 1rem;
    border-top: 2px solid var(--bg-gray);
}

.app-category-description.open {
    max-height: 100vh;
    transition: max-height .5s ease-in;
}


.site-description span:first-child {
    font-size: 2.5rem;
}

.site-description span + span {
    margin-top: 0.8rem;
    line-height: 1.1;
}

footer {
    grid-area:footer;
    padding:2.5em 2em 1em 2em;
    width:auto;
    font-size: 1rem;
    background-color: #e5e5e5;
}

.social {
    grid-area: social;
    display:flex;
    justify-content: flex-end;
    column-gap: 1em;
}

footer svg {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50px;
    background-color: var(--black);
}
svg#docker-icon {
    background-color: #e5e5e5;
}
.copyright {
    grid-area: copyright;
    font-size: 0.6rem;
    text-align:center;
}


.toggle-button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 1000;
    column-gap: 0.5rem;

}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid #1f1f1f;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.toggle-icon {
    color: #1f1f1f;

}
.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    pointer-events: none;
    background-color: #1f1f1f;
    transition: .3s;
}
.toggle.active {
    border-color: #1fc8c3;
}

.toggle.active + .toggle-icon {
    color: #1fc8c3;
}

.toggle.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: #1fc8c3;
}

.toggle.active .toggle-icon {
    color: #1fc8c3;
}

.toggle-icon svg {
    width: 25px;
    height: 35px;
}

@media (max-width: 900px) {
    body {
        display: grid;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        position: relative;
    }
    
    header {
        background-color: #e5e5e5;
    }

    main {
        grid-area: main;
        padding: 8vh 10vw;

    }
    .toggle-button-container {
        padding:0.5rem 1.3rem;
        right: 0;
    }

    #header-container {
        background-size: cover;
        display: grid;
        grid-template-areas: 
            "nav" 
            "heading";
        width: 100%;
        position:fixed;
        z-index: 98;
    }

    
    .hamb-menu-banner {
        display:block;
        box-sizing: border-box;
        height: calc(30px + 1.6rem);
        background-color: var(--black);
        position: relative;
        background-color: #e5e5e5;
        z-index: 200; 
    }

    .hamb-menu {
        position: absolute;
        left: 0;
    }

    .hamb-menu-icon {
        pointer-events: none;
        height:25px;
        width: 25px;
        margin:0.8rem 1.3rem;
        color: #171717;
    }

    .main-nav-container {
        position:relative;
    }

    .main-nav {
        position: absolute;
        width:100%;
        height: calc(100vh - (30px + 2rem));
        top: -100vh;
        z-index: 100;
        padding: 20px 0px;
        background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff);
        overflow:hidden;
        transition: top .5s ease-in-out;
    }
    
    .main-nav.open {
        position:absolute;
        top:0; 
        overflow-y: auto;
        transition: top .5s ease-in-out;
    }

    .main-nav a {
        color: #171717;
    }


    .sub-nav-container {
        position: relative;
    }

    .sub-nav-container:nth-child(2) .sub-nav a {
        color: #17171777;
    }

    .sub-nav-container:last-child {
        padding-bottom: 2rem;
    } 
    

    .main-nav a.link {
        display: inline-block;
        box-sizing: border-box;
        color: #171717;
        text-align: start;
        padding-bottom: 10px;
        margin: 10px 10px 20px 30px;
        width: calc(100% - 3.5rem);
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(0.47turn, #ffffff, #c2c2c4);
        border-image-slice: 1;
        font-size: 1.1rem;
        pointer-events: none;
    }

    .main-nav li:first-child a  {
        pointer-events: auto;
    }

    .expand-down-arrow {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        z-index:101;
        margin: 0.5rem 2.5rem 2.5em 2.5rem;
        padding: 4px;
        border: solid #171717;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .sub-nav {
        overflow: hidden;
        max-height: 0;
        line-height: 2;
        padding: 0 3em;
        color: transparent;
        transition: max-height .2s ease-in-out;
    }

    .sub-nav.open {
        max-height: 100vh;
        color: black;
        transition: max-height .3s ease-in-out;
    }
    
    .one-line-intro {
        display:none
    } 

    .site-description {
        height:55vh;
        box-sizing: border-box;
        margin-top: calc(20px + 2rem);
        padding: 16vh 6vw 6vh 0;
        background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff);
        font-family: 'Quicksand', sans-serif;
        color: #171717;
        font-size: 2rem;
        letter-spacing: 5px;

    }
    .site-description span {
        display: block;
        box-sizing: border-box;
        padding-left: 2rem;
        margin: auto 2%;
    }
    
    .site-description span:first-of-type {
        font-size: 2.5rem;
    }

    .main-container {
        padding:0;
        width: 100%;
    }

    .page-introduction {
        display:block;
        margin-bottom: 10vh;
        font-size: 1.1rem;
        text-indent: 5%;
    }

    .main-heading  {
        display: none;
    }

    .main-container > section {
        display: grid;
        grid-template-areas: 
            "c1"
            "c2"
            "c3"
            "c4";
        row-gap: 2rem;
        
        width: calc(100vw - 20vw);
    }

    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
            "social" 
            "copyright" ;
        grid-template-rows: 3fr 1fr;
        row-gap: 7px;
        height: 15vh;
        align-items: end;
        justify-items: center;
    }

    footer .about{
        display:none;
    }

    footer svg {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50px;
    }

    .copyright {
        font-size: 0.8rem;
        margin-top: 1rem;
    }
}


@media (min-width:500px) and (max-width:899px) {
    .site-description span {
        margin: auto 10vw;
    }
    .categories-container {
        justify-items: center;
    }
    .app-category {
        max-width: 70%;
    }
}

@media (min-width: 901px) {
    
    body {
        background-color: var(--white);
    }

    body.dark-mode header{
        background: url("../images/bg_dark.webp");
        background-size: cover;
    }

    header{
        background: url("../images/bg.jpg"); /*img source: https://wallpapersafari.com/w/pNHxwB*/
        background-size: cover;
        /*min-height: 100vh; /* full window viewpoint */
    }
    
    .toggle-button-container {
        top:0;
        right: 1.3rem;
        height: 3.5rem;
    }

    #header-container {
        min-height: 100vh;
        display: grid;
        grid-template-areas: "nav" "heading";
        grid-template-rows: 2fr 3fr;
        background-repeat: no-repeat;

    }
    
    .main-nav {
        display: flex;
        grid-area: nav;
        align-items: baseline;
        color: #171717;
        height: 3rem;
        font-size: 1rem;
    }

    .sub-nav-container {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        min-width: 6rem;
    }

    .sub-nav-container > a.link {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        line-height: 3rem; /* to vertically align text to the middle */
        vertical-align: middle;
        text-align: center;
        background-color: #c0c0c200;
    }

    .sub-nav-container:nth-child(2) .sub-nav a {
        font-size:0.9rem;
        color:#4a4a4a
    }
    .sub-nav-container:nth-child(2) a.link {
        padding: 0 1em;
    }
    .sub-nav-container:first-of-type > .link:hover {
        border-bottom: 2px solid #000000;
    }

    .sub-nav {
        position:absolute;
        /*display: none;*/ 
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        box-sizing: border-box;
        padding: 1rem 1rem 1rem 1rem;
        inline-size: max-content;
        pointer-events: none; /*not be clickable when not visible*/
        opacity: 0;
        font-size: 0.95rem;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
        border-top: 2px solid #000000;
        background-color: #e3e2e2f5;
    }

    .sub-nav-container.active > a {
        background-color: #e3e2e2f5;
    }
    
    .sub-nav-container.active > a.link + .sub-nav {
        opacity:1;
        pointer-events:auto; /*be clickable when visible*/
    }

    .sub-nav a:hover {
        border-bottom: 2px solid #000000;
    }

    .site-description {
        display: none;
    }
        
    main {
        display: grid;
        grid-template-areas: "side-left main side-right";
        grid-template-columns: 1fr 8fr 1fr;
    }
    .main-container {
        margin-top: 4em;
        grid-area: main;
        width: 100%;
        padding: 6rem 0 3rem 0;
    }

    .main-container::before {
        grid-area: side-left;
    }
    .main-container::after {
        grid-area: side-right;
    }

    .page-introduction {
        display:none;
    }

    .main-heading {
        margin: 2vh 0 15vh 0;
        background: linear-gradient(var(--white) 0%, var(--white) 50%, var(--black) 48%, var(--black) 52%, var(--white) 54%, var(--white) 100%);
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: center;
    }

    .main-heading span {
        background: var(--white);
        padding: 0 20px;
        position: relative;
        z-index: 5;
    }

    .main-container > section {
        display: grid;
        grid-template-areas: 
            "c1 c2" 
            "c3 c4";
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 3rem;
    }

    footer {
        min-height: 35vh;
        display: grid;
        grid-template-areas: 
            "about social" 
            "copyright copyright" ;
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        padding:1rem 3rem;
        width:auto;
        font-size: 0.8rem;
        background-color: #e5e5e5;
    }

    footer h3 {
        font-size: 1.3rem;
        font-weight: 200;
        padding-bottom: 0.5em;
    }

    .about {
        grid-area: about;
    }

    .about a {
        text-decoration: underline;
    }
    .about a:visited {
        color: #0a40bc;
    }

}

@media (min-width: 900px) and (max-width: 1399px) {

    .site-description {
        padding-top:20%;
    }
    .one-line-intro {
        padding-left: 5vw;
        font-size: 1.1rem;
    }
    footer {
        grid-template-columns: 2fr 1fr;
    }
}

/*remember to remove the ../ from the path of all resorce files*/
@media (min-width: 1400px) {

    .main-container > section {
        display: grid;
        grid-template-areas: 
            "c1 c2 c3 c4";
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }
    .app-category-description {
        font-size: 0.9rem;
    }
}


@media (min-width: 1400px) and (max-width: 1770px) {
    .app-category > a {
        padding-top: 3rem;
        height : calc(13rem + 1.8em);
    }
}

@media (min-width: 1771px) and (max-width: 2000px) {
    
    .app-category > a {
        padding-top: 3rem;
        height:15rem;
    }
}

@media (min-width:2500px){

    .app-category > a {
        height:15rem;

    }
    .app-category > a > svg {
        height: 5.3rem;
    }

}

@media (min-width: 3000px) {
    .main-container > section {
        column-gap:4vw;
    }
}

