
:root {
    --dark-blue: rgba(6, 14, 25);
    --blue-green: rgb(132, 220, 198);
    --bg-gray: lightgray;
}
/*remember to remove the ../ from the path of all resorce files*/
@media (min-width: 1080px) {

    body {
        display: grid;
        grid-template-areas: 
            "header header header" 
            "side-left main side-right"
            "footer footer footer" ;
        grid-template-columns: 1fr 8fr 1fr;
    }

    header{
    grid-area: header;
    background-color: var(--dark-blue);
    /*min-height: 100vh; /* full window viewpoint */
    }

    #header-container {
        background: url("./images/header_bgd.webp"); /*img source: https://wallpapersafari.com/w/pNHxwB*/
        background-size: cover;
        min-height: 100vh;
        display: grid;
        grid-template-areas: "nav" "heading"
    }

    nav{
        grid-area: nav;
        color: white;
        background-color: black;
        height: 4em;
    }
    
    nav > ul {
        display: flex;
    }

    .sub-nav-container {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        min-width: 8em;
    }

    .sub-nav-container > button {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        line-height: 4em; /* to vertically align text to the middle */
        vertical-align: middle;
        border-right: 1px solid rgba(255, 255, 255, 0.221);
        text-align: center;
        padding: 0em 1em;
    }

    .sub-nav-container > button:hover {
        color: var(--blue-green);
        background-color: rgba(255, 255, 255, 0.133);
    }

    /* for now I have removed it */
    .expand-down-arrow {
        display: inline-block;
        border-width: 0 3px 3px 0;
        padding: 3px;
        margin: 0 0 0.2em 0.6em;
        box-sizing: border-box;
        border: solid white;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        display: none;
    }

    /* this is going to be initially hidden
        once the button on the menu category is hovered its display is
        going to flex.
        while it is visible set the background color and text color of the button 
        to that of the hover selector styling
    */
    .sub-nav {
        position:absolute;
        /*display: none;*/ 
        display: flex;
        flex-direction: column;
        row-gap: 0.8em;
        box-sizing: border-box;
        padding: 1em 4em 1em 1em;
        background-color: rgba(0, 0, 0, 0.343);
        inline-size: max-content;
    }

    h1 {
        grid-area:heading;
        text-align: center;
        color: white;
        font-size: 4vw;
    }

    main {
        grid-area: main;
        width: 100%;
        padding: 6em 0em;
    }

    main::before {
        grid-area: side-left;
    }
    main::after {
        grid-area: side-right;
    }

    main > section{
        display: flex;
        justify-content: space-around;
        gap: 2em;

    }

    .app-category {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        gap: 1em;
        column-gap: 2em;
        box-sizing: border-box;
        max-width: 350px;
    }

    .app-category > a { 
        flex: 1 1 0;
        display: block; 
        padding: 3em;
        border: 0.3em solid black;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 18px 0 rgba(0, 0, 0, 0.19); 
        text-align: center;   
    }

    .app-category > a:hover {
        box-shadow: 0 2px 4px 0 rgba(132, 220, 198, 0.75), 0 2px 18px 0 rgba(132, 220, 198, 0.75); 
    }

    .app-category > a h3 {
        font-size: 1.8em;
        font-weight: bolder;
        margin-top: 1em;
    }

    .app-category > a img {
        height: 7em;
        font-size:1.2em;
    }

    .more-btn {
        border: none;
        max-width: max-content;
        align-self: center;
        background-color: none;
        color:black;
        font-size: 1.3em;
        cursor: pointer;
    }

    .more-btn:hover {
        font-weight: bold;
    }

    /* for icon  instead of text in expanded text element
    img[alt^="more info"] {
        height: 2em;
        font-size: 1em;
    }
    in html insert in button: <img src="icons/more_icon.svg" alt="more info iot">
    */

/*#############################################*/

    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
            "about social" 
            "copyright copyright" ;
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        padding:2.5em 2em 1em 2em;
        height: max(max-content, 30%);
        width:auto;
        font-size: 1.1em;
        background-color:black;     /* img-source: https://jooinn.com/img/get */
        color: white;
    }

    footer h3 {
        font-size: 1.7em;
        font-weight: 200;
        padding-bottom: 0.5em;
    }

    .about {
        grid-area: about;
    }

    .about a {
        text-decoration: underline;
    }
    .about a:visited {
        color: var(--blue-green);
    }

    .social {
        grid-area: social;
        display:flex;
        justify-content: flex-end;
    }

    .icon-container {
        width: 2.5em;
        height: 2.5em;
        margin-left:1em;
        border: 2px solid var(--blue-green);
        border-radius: 50px;
        background-color: var(--blue-green);
    }

    .copyright {
        grid-area: copyright;
        font-size: 0.9em;
        text-align:center;
    }
}

/*
palette green
CSS HEX 
--white: #ffffffff;
--rich-black-fogra-29: #060e19ff;
--middle-blue-green: #84dcc6ff;

CSS HSL 
--white: hsla(0, 0%, 100%, 1);
--rich-black-fogra-29: hsla(215, 61%, 6%, 1);
--middle-blue-green: hsla(165, 56%, 69%, 1);
*/

/* 
pallete blue
--steel-blue: #427aa1ff;
--alice-blue: #ebf2faff;
--rich-black-fogra-29: #060e19ff;


--steel-blue: hsla(205, 42%, 45%, 1);
--alice-blue: hsla(212, 60%, 95%, 1);
--rich-black-fogra-29: hsla(215, 61%, 6%, 1);
*/
