
/*remember to remove the ../ from the path of all resorce files*/
@media (min-width: 1080px) {

    header{
    background-color: rgb(6,14,25);
    min-height: 100vh; /* full window viewpoint */
    }

    #header-container {
        background: url("images/header_bg.webp"); /*img source: https://wallpapersafari.com/w/pNHxwB*/
        background-size: cover;
        height: 100vh;
        width: 100%;
    }




    main > section{
        display: flex;
        justify-content: space-around;
        gap: 2em;
        padding: 4em;
        background-size: cover;
    }


    .app-category {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        gap: 1em;
        column-gap: 2em;
        box-sizing: border-box;
        max-width: 350px;
    }

    .app-category > a { 
        flex: 1 1 0; 
        display: block; 
        padding: 3em;
        border: 0.3em solid black;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 18px 0 rgba(0, 0, 0, 0.19); 
        text-align: center;   
    }


    .app-category > a h3 {
        font-size: 1.8em;
        font-weight: bolder;
        margin-top: 1em;
    }

    .app-category > a img {
        height: 7em;
    }

    .more-btn {
        border: none;
        max-width: max-content;
        align-self: center;
        padding:1em;
        cursor: pointer;
        font-size: 1em;
        color:black;
    }

/*#############################################*/

    footer {
        display: grid;
        grid-template-areas: 
            "about social" 
            "copyright copyright" ;
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        padding:2.5em 2em 1em 2em;
        height: max(max-content, 30%);
        width:auto;
        font-size: 1.1em;
        background-color:black;     /* img-source: https://jooinn.com/img/get */
        color: white;
    }

    footer h3 {
        font-size: 1.7em;
        font-weight: 200;
        padding-bottom: 0.5em;
    }

    .about {
        grid-area: about;
    }

    .social {
        grid-area: social;
        display:flex;
        flex-direction: row-reverse;
    }

    .icon-container {
        width: 2.5em;
        height: 2.5em;
        margin-left:1em;
        border: 2px solid white;
        border-radius: 50px;
        background-color: white;
    }

    .copyright {
        grid-area: copyright;
        font-size: 0.9em;
        text-align:center;
    }
}