
:root {
    --dark-blue: rgba(6, 14, 25);
    --blue-green: rgb(132, 220, 198);
    --bg-gray: lightgray;
    --black: black;
    --off-white: #f5f5f5;
    --white: white;
}


* {
    padding:0;
    margin:0;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand/quicksand-variablefont_wght-webfont.woff2"),
         url("../fonts/Quicksand/quicksand-variablefont_wght-webfont.woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSansReg/OpenSans-Regular.woff"),
         url("../fonts/OpenSansReg/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

/* some general settings */
html, body {
    font-size: calc(16px + 0.390625vw);
    height:100%;
    background-color: var(--white);
    font-family: 'Open Sans', 'Open Sans Regular', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif';
}

/* Safari 7.1+ 

_::-webkit-full-page-media, _:future, :root .safari_only {
    font-family: 'Open Sans', 'Open Sans Light', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif'; 
  
}

 Safari 10.1+ 

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .safari_only { 

        font-family: 'Open Sans', 'Open Sans Light', 'Lato', 'Roboto', 'PT Sans', 'Cambria', 'Sans Serif'; 
 

    }
}}*/

@-moz-document url-prefix() {
    html, body {font-size: calc(14px + 0.390625vw);}
}


body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    position: relative;
}


main {
    grid-area:main;

}


ul li{
    list-style-type: none;
}

a {
    text-decoration:none;
}

a:link, a:visited, a:active {
    color: inherit;
}

button {
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
}


/* ############# GENERAL ###############*/

header{
    grid-area: header;
    background-color: var(--dark-blue);
    /*min-height: 100vh; /* full window viewpoint */
}


.sub-nav-container:nth-child(2) .sub-nav a{ 
    color: #171717e1;
}


.hamb-menu-banner{
    display:none;
}

.expand-down-arrow {
    display:none;
}

.site-description {
    background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff);
    font-family: Quicksand, sans-serif;
    color: #171717;
    font-size: 2rem;
    letter-spacing: 5px;
    border: 0px;
    padding: 6% 0 8% 0;

}
.site-description span {
    display: block;
    box-sizing: border-box;
    padding-left: 2rem;
    margin: auto 10vw;
}

.site-description span:first-child {
    font-size: 2.5rem;
}

.site-description span + span {
    margin-top: 0.8rem;
    line-height: 1.1;
}


footer {
    grid-area:footer;
    padding:2.5em 2em 1em 2em;
    width:auto;
    font-size: 1rem;
    background-color: #e5e5e5;
}

.social {
    grid-area: social;
    display:flex;
    justify-content: flex-end;
    column-gap: 1em;
}

footer svg {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50px;
    background-color: var(--black);
}
svg#docker-icon {
    background-color: #e5e5e5;
}

.copyright {
    grid-area: copyright;
    font-size: 0.8rem;
    text-align:center;
}

.toggle-button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 1000;
    column-gap: 0.5rem;

}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid #1f1f1f;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.toggle-icon {
    color: #1f1f1f;

}
.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    pointer-events: none;
    background-color: #1f1f1f;
    transition: .3s;
}

.toggle.active {
    border-color: #178582;
}

.toggle.active + .toggle-icon {
    color: #178582;
}

.toggle.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: #178582;
}

.toggle.active .toggle-icon {
    color: #178582;
}

.toggle-icon svg {
    width: 25px;
    height: 35px;
}
@media (max-width: 900px) {
    header {
        background-color: #e5e5e5;
    }
    
    .toggle-button-container {
        padding:0.8rem 1.3rem;
        left: 0;
    }

    #header-container {
        background-size: cover;
        display: grid;
        grid-template-areas: 
            "nav" 
            "heading";
        width: 100%;
        position:fixed;
        z-index: 98;
        background-color: #e5e5e5;
    }

    .hamb-menu-banner {
        display:block;
        box-sizing: border-box;
        height: calc(30px + 2rem);
        position: relative;
        background-color: #e5e5e5;
        z-index: 200; 
    }

    .hamb-menu {
        position: absolute;
        right: 0;
    }

    .hamb-menu-icon {
        pointer-events: none;
        height:30px;
        width: 30px;
        margin:0.9rem 1.3rem;
        color: #171717;
    }

    .main-nav-container {
        position:relative;
    }

    .main-nav {
        position: absolute;
        width:100%;
        height: calc(100vh - (20px + 3rem));
        top: -100vh;
        z-index: 100;
        padding: 20px 0px;
        background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff);
        overflow: hidden;
        transition: top .5s ease-in-out;
    }
    
    .main-nav.open {
        position:absolute;
        top:0; 
        overflow-y: auto;
        transition: top .5s ease-in-out;
    }

    .main-nav a {
        color: #171717;
    }
    
    .sub-nav-container {
        position: relative;
        margin: 0.5rem;
    }

    .sub-nav-container:last-child {
        padding-bottom: 2rem;
    }

    .main-nav a.link {
        display:inline-block;
        box-sizing: border-box;
        text-align: start;
        padding-bottom: 10px;
        margin: 10px 10px 20px 30px;
        width: calc(100% - 3.5rem);
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(0.47turn, #ffffff, #c0c0c2);
        border-image-slice: 1;
        font-size: 1.17rem;
        pointer-events: none;
        font-weight: bold;
    }

    .main-nav li:first-child a {
        pointer-events: auto;
    }

    .expand-down-arrow {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        z-index:101;
        margin: 0.5rem 2.5rem 2.5em 2.5rem;
        padding: 4px;
        border: solid #171717;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }


    .sub-nav.open {
        max-height: 100vh;
        color: black;
        transition: max-height .3s ease-in-out;

    }

    .sub-nav {
        overflow: hidden;
        max-height: 0;
        line-height: 3;
        padding: 0 3em;
        font-size: 1.1rem;
        color: transparent;
        transition: max-height .2s ease-in-out;
    }

    .sub-nav-container:nth-child(2) .sub-nav a {
        color: #17171777;
    }

    .site-description {
        height:35vh;
        box-sizing: border-box;
        margin-top: calc(20px + 2rem);
        padding: 12vh 6vw 10vh 0;
    }

    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
            "social" 
            "copyright" ;
        grid-template-rows: 3fr 1fr;
        row-gap: 7px;
        height: 15vh;
        align-items: end;
        justify-items: center;
    }

    footer .about{
        display:none;
    }

    footer svg {
        width: 2rem;
        height: 2rem;
    }

    .copyright {
        margin-top: 1rem;
    }
}

@media (max-width:550px) {
    .site-description span {
        margin: auto 2%;
    }
}

@media (min-width: 901px) {
    body {
        display: grid;
        grid-template-areas: 
            "header" 
            "main"
            "footer" ;
        background-color: #ffffff;
    }
    
    main {
        grid-area: main;
    }

    .main-nav-container {
        position: relative;
    }
    
    .toggle-button-container {
        top:0;
        right: 1.3rem;
        height: 3.5rem;
    }

    .main-nav {
        display: flex;
        grid-area: nav;
        box-sizing: border-box;
        align-items: baseline;
        color: #171717;
        background-color: #e5e5e5;
        height: 3rem;
        font-size: 1rem;
    }

    .sub-nav-container {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        min-width: 6rem;
    }

    .sub-nav-container > a.link {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        line-height: 3rem; /* to vertically align text to the middle */
        vertical-align: middle;
        text-align: center;
        background-color: #c0c0c200;
        font-weight: bold;
    }

    .sub-nav-container:first-of-type > a.link:hover {
        border-bottom: 2px solid #171717;
    }

    .sub-nav-container:nth-child(2) a.link {
        padding: 0 1em;
    }

    .sub-nav-container:nth-child(2) .sub-nav a:hover {
        border-bottom: 0px;
    }
    
    .sub-nav {
        position:absolute;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        box-sizing: border-box;
        padding: 1rem;
        font-size: 0.95rem;
        background-color: #f6f6f6f5;
        inline-size: max-content;
        pointer-events: none; /*not be clickable when not visible*/
        opacity: 0;
        border-top: 2px solid #000000;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    
    .sub-nav-container.active > a {
        background-color: #f6f6f6f5;
    }

    .sub-nav-container.active > a + .sub-nav {
        opacity:1;
        pointer-events:auto; /*be clickable when visible*/
    }

    .sub-nav a:hover {
        border-bottom: 2px solid #171717;

    }

    .site-description {
        max-height:30vh;
    }
    
    .site-description span {
        margin: auto 10vw;
    }

    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
            "about social" 
            "copyright copyright" ;
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
        align-items: end;
        padding:2rem 4rem 1rem 4rem;
        width:auto;
        font-size: 0.8rem;
    }

    footer h3 {
        font-size: 1.5em;
        font-weight: 200;
        padding-bottom: 0.5em;
    }

    .about {
        grid-area: about;
    }

    .about a {
        text-decoration: underline;
    }
    .about a:visited {
        color: #0870d8;
    }

    .copyright {
        font-size: 0.6rem;
    }
}
@media (max-width: 550px) {

    .site-description,
    #header-container,
    .hamb-menu-banner {
        background-color: #333A56;
        background-image:none;
        color: #e8e8e8;
    }
    .hamb-menu {
        color: #e8e8e8;
    }

    .site-description span:first-child  {
        font-size: 2rem;
    }
    .site-description span + span {
        font-size: 1.5rem;
        margin-top: 0.5rem;  
    }

    .main-nav {
        background-color: #333a56fb;
        background-image: none;
    }

    .main-nav a,
    .expand-down-arrow {
        color: #e8e8e8;
        font-weight: normal;
        border-color: #e8e8e8;
    }

    .sub-nav-container:nth-child(2) .sub-nav a {
        color: #aba9a9;
    }

    .main-nav a.link {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(0.47turn, #e8e8e8, #7a7445);
        border-image-slice: 1;
    }
    .main-nav a.link {
        font-weight: 500;
    }

    footer {
        background-color: #52658f;
    }
}